*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #042331;
}
li{
    list-style: none;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #042331;
    transition: all 0.5s ease;
}
.sidebar header {
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
    background:#063146 ;
    user-select: none;
    border-radius: 50px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(83, 33, 33, 0.1);
    border-bottom: 1px solid black;
    transition: all 0.5s ease;
    border-radius: 100px;
}

ul li:hover {
    padding-left: 50px;
    background: darkslategrey;
    border-radius: 100px;
    transition: all 0.5s ease;
}

.sidebar ul a i{
    margin-right: 16px;
}
#check {
    display: none;
}
#close-tab{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s ease;
}
label #cancel{
    z-index: 1111;
    left:-200px;
    top: 25px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 5px;
    transition: all 0.5s ease;
}
label #close {
    cursor: pointer;
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar{
    left : 0;
}
#check:checked ~ label #btn{
    left : 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left : 190px;
}
/* Khi duoc nhan point toi the section de thuc hien lenh margin */
#check:checked ~section{
    margin-left: 242px;
}

.modalControl {
    position: relative;
    z-index: 1;
    width: 600px;
    height: auto;
    top: 80px;
    padding: 15px;
    margin-left: 50px;
    background-color: rgb(10, 45, 56);
    border-style: solid;
    border-radius: 20px;
    transition: all 0.5s ease;
    -webkit-animation-name:animetetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-500px; opacity:0} 
    to {top:80px; opacity:1}
}
  
@keyframes animatetop {
    from {top:-500px; opacity:0}
    to {top:80px; opacity:1}
}
.modalHome {
    position: relative;
    z-index: 1;
    width: 800px;
    height: 400px;
    top: 80px;
    margin-left: 10px;
    background-color: rgb(10, 45, 56);
    border-style: solid;
    border-radius: 20px;
    transition: all 0.5s ease;
    -webkit-animation-name:animetetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
}
.modalHelp {
    position: relative;
    z-index: 1;
    width: 800px;
    height: 400px;
    top: 80px;
    margin-left: 10px;
    background-color: rgb(10, 45, 56);
    border-style: solid;
    border-radius: 20px;
    transition: all 0.5s ease;
    -webkit-animation-name:animetetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;

}
.modalReport {
    position: relative;
    z-index: 1;
    width: 700px;
    height: 400px;
    margin-top: 80px;
    margin-left: 30px;
    background-color: rgb(10, 45, 56);
    border-style: solid;
    border-radius: 20px;
    transition: all 0.5s ease;
    -webkit-animation-name:animetetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
}
.display-none {
    display: none;
}

.display-block {
    display: inline-block;
}

.modal-header {
    background-color: lightseagreen;
    line-height: 70px;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 20px;
    align-content: center;
    border: 3px solid black;
}

.modal-header header{
    font-size: 50px;
    text-align: center;
    align-content: center;
}
.modal-item {
    position: absolute ;
    right: 14px;
    top: 25px;
}
.modal-area {
    background-color: burlywood;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.close {
    color: burlywood;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input[type=number]{
    position: relative;
    margin-left: 50px;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    background-color: thistle;
    padding: 5px 10px;
    text-decoration: none;
    border-style: groove;
}

.modal-column-sendmail #email{
    color: black;
    font-size: 15px;
    background-color: thistle;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    border-style: groove;
    border: 2px solid brown;
    width: 230px;
}

input[type = date]{
    color: black;
    font-size: 15px;
    background-color: thistle;
    padding: 5px 5px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    border-style: groove;
    width: 230px;
}
form label {
    margin-top: 10px;
    font-size: 15px;
    padding: 5px 10px;
}

.modal-column-1{
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 10px;
}
.modal-area #sizepaper{
    position: relative;
    width: 162px;
    margin-left: 34px;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    background-color: thistle;
    padding: 5px 10px;
    text-decoration: none;
    border-style: groove; 
}

.modal-area #levelSpeed{
    position: relative;
    margin-left: 21px;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    background-color: thistle;
    padding: 5px 10px;
    text-decoration: none;
    border-style: groove; 
}
.modal-area #error{
    position: relative;
    margin-left: 87px;
    width: 137px;
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    background-color: thistle;
    padding: 5px 10px;
    text-decoration: none;
    border-style: groove; 
}

.modal-area #distance{
    position: relative;
    margin-left: 52px;
    width: 138px;
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    background-color: thistle;
    padding: 5px 10px;
    text-decoration: none;
    border-style: groove; 
}
.modal-area #submitButton{
    position: relative;
    float: left;
    margin-top: -97px;
    margin-left: 342px;
    width: 97px;
    height: 47px;
    font-size: 25px;
    line-height: 47px;
    color:black;
    background-color: yellowgreen;
    text-decoration: none;
    border-style: groove; 
    border-radius: 10px;
}
.modal-area #stop{
    position: relative;
    float: left;
    margin-top: -97px;
    margin-left: 453px;
    width: 97px;
    height: 47px;
    font-size: 25px;
    line-height: 47px;
    color:black;
    background-color: yellowgreen;
    text-decoration: none;
    border-style: groove; 
    border-radius: 10px;
}
.modal-row {
    position: relative;
    width: 100%;
    height: 100%;
}
.modal-column {
    position: relative;
    width: 50%;
    height: 100%;
}
.modal-column-1 button:hover{
    background-color: darkcyan;
    
}
table, th, td,tr{
    position: inherit;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    padding: 4px;
}

.modal-column-table{
    position: relative;
    width: 85%;
    height: 90%;
    padding-left: 52px;
    padding-top: 20px;
    overflow: auto;
}
.modal-column-sendmail {
    margin-left: 165px;
    display: inline-block;
    align-items: center;
}


.modalReport .modal-item{
    position: absolute;
    right: 17px;
    top: 12px;
}

.modal-column-sendmail #filter_button{
    position: relative;
    width: 90px;
    height: 30px;
    line-height: 30px;
}

.modal-column-sendmail #sendmail_button{
    position: relative;
    width: 90px;
    height: 30px;
    line-height: 30px;
}

.modalReport .modal-area{
    position: relative;
    background-color: burlywood;
    border: 1px solid #888;
    width: 95%;
    height: 73%;
    border-radius: 20px;
}

.modal-column-table #table{
    display: inline-block;
}

.modal-column-table #table tr{
    padding: 3px;
}

.modal-column-table #table th{
    padding: 3px;
}