<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>AVERAGE WIDTH</th>
                <th>DISTANCE</th>
                <th>STATUS</th>
                <th>TIME</th>
            </tr>
            {% for pen in pen_good %}
                <tr>
                    <td>
                        {{pen.id}}
                    </td>
                    <td>
                        {{pen.avg_pen}}
                    </td> 
                    <td>
                        {{pen.distance}}
                    </td>
                    <td>
                        {%if pen.state == "0" %}
                            {{"Bút không đạt chuẩn"}}
                        {%endif%}
                        {%if pen.state == "1" %}
                            {{"Bút đạt chuẩn"}}
                        {%endif%}
                    </td>
                    <td>
                        {{pen.time}}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>