{% extends "control.html" %}
{% load static %}
{% block table %}
<div class="modal-column-table">
    <table>
        <tr>
            <th>ID</th>
            <th>AVERAGE WIDTH</th>
            <th>DOTTED_LENGTH</th>
            <th>DISTANCE</th>
            <th>STATUS</th>
            <th>TIME</th>
        </tr>
        {% for pen in pen_good %}
            <tr>
                <td>
                    {{pen.id}}
                </td>
                <td>
                    {{pen.avg_pen}}
                </td> 
                <td>
                    {{pen.dotted_lenght}}
                </td>
                <td>
                    {{pen.distance}}
                </td>
                <td>
                    {{pen.state}}
                </td>
                <td>
                    {{pen.time}}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}